@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
  html, body {
    background-color: #f3f4f6; /* Light browser background */
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  body {
    overscroll-behavior-y: none;
  }
  .pb-safe { padding-bottom: env(safe-area-inset-bottom,0px); }
  .pt-safe { padding-top: env(safe-area-inset-top,0px); }
  
  ::-webkit-scrollbar { display: none; }
}

/* Material Icons setup */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
